body {
    background-color: #f9f7f1;
    font-family: "Droid Seif", serif;
    font-size: 14px;
    color: #2f2f2f;
    margin: 0;
}

header {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

header h1 {
    margin: 0px;
}

.date-line {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
}

.links {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}

.links a {
    margin: 45px;
}

.social-icons {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1em;
    text-align: center;
}

.social-icons a {
    font-size: 1.5em;
    margin: 0.5em;
    text-decoration: none;
    transition: color 0.3s ease;
    color: #2f2f2f;
    background-color: #f9f7f1;
    border-radius: 25px;
}

a {
    transition: .5s;
    color: #2f2f2f;
    text-decoration: none;
}

a:hover {
    color: #757575;
}

#current-page {
    color: #757575;
}


/* articles */


.article-section {
    width: 90%;
    margin-top: 20px;
}

.article {
    width: 17%;
    padding-right: 1%;
    padding-left: 1%;
    display: inline-block;
    margin: 0;
    transition: all .7s;
    vertical-align: top;
    height: 100%;
}

.article-content {
    text-align: left;
}

.article+.article {
    border-left: 1px solid #2f2f2f;
}

.hl1,
.hl2,
.hl3,
.hl4,
.hl5 {
    text-align: center;
    margin-bottom: 0;
}

.hl1 {
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
}

.hl2 {
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    text-align: center;
}

.hl3 {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.hl4 {
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    text-align: center;
}

.hl5 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    width: 25%;
}

.filler-div {
    /*the purpose of this is to expand this div to the entire space of the "article" object its in, so that the a (href) is expanded to the full size of the article too */
    width: 100%;
    height: 100%;
}

/* hiding scroll bar, but leaving it functional */

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.article img {
    width: 90%;
    border: 1px solid #2f2f2f;
}

html {
    scrollbar-width: none;
}

/* hiding scroll bar, but leaving it functional */

/* project pages */

.page-content {
    margin-top: 20px;
    width: 60%;
    font-size: 150%;
}

.page-content img {
    border: 1px solid #2f2f2f;
    text-align: center;
    width:50%;
}

.page-content p,
.page-content h6,
.page-content h5,
.page-content h4,
.page-content h3,
.page-content h2 {
    text-align: left;
}

#bottom-spacer {
    margin-bottom: 50px;
}

/* project pages */

/* about.html */

.about-section {
    width: 50%;
    height: 100%;
}

.about-header {
    text-align: center;
    font-size: 200%;
    font-family: Playfair Display, serif;
}

.about-header img {
    border-radius: 250px;
    height: 250px;
}

ul {
    text-align:left;
}

/* about.html */

/* datasets.html */

.dataset-listings {
    width: 80%;
}

.listing {
    width: 90%;
    min-height: 150px;
    /*background-color: #f1f1f1;*/
    margin: 20px 0px 20px 00px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: left;

}
.listing p {
    max-width:90%;
}

.dataset-listings img {
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* datasets.html */

/* experience.html */

.newspaper-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.newspaper-column {
    flex: 1;
    max-width: 50%;
    padding: 0 20px;
}

.section-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #222;
}

.company {
    font-style: italic;
    margin-bottom: 5px;
}

.date {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.responsibilities {
    margin-top: 0;
    padding-left: 20px;
    list-style: none;
}

.degree {
    font-style: italic;
    margin-bottom: 5px;
}

#collatz-img {
    height: 300px;
    width: 300px;
    display: inline;
    margin: 10px;
}

/* experience.html */

@media only all and (max-width: 1200px) {
    .article {
        width: 31%;
    }
}

@media only all and (max-width: 900px) {
    .article {
        width: 47%;
    }

    header {
        font-size: 2rem;
    }
}

@media only all and (max-width: 600px) {
    .article {
        width: 100%;
        border-bottom: 1px solid #2f2f2f;
    }

    .article:last-child {
        border-bottom: none;
    }

    .article+.article {
        border-left: none;
    }

    header {
        font-size: 1.25rem;
        line-height: 54px;
        overflow: hidden;
    }

    .links {
        font-size: 20px;
    }

    .links a {
        margin: 15px;
    }

    .page-content img {
        width: 98%
    }

    .page-content {
        width: 95%;
    }

}