body, input, button {
	font-family:font2;
	margin: 0;
	padding: 0; 
	font-size:100%;
}
#bar {
	height:calc(5vh);
	width:calc(100vw);
	background-color:silver;
	margin:0;
	padding:0;
	text-align:center;
}
@font-face {
    font-family: Hansief;
    src: url("Hansief.otf") format("opentype");
}
@font-face {
    font-family: font2;
    src: url("font2.ttf") format("truetype");
}
#thejewhimself {
	width:calc(25vw);
	border: 2px solid black;
}
#mynamebitch {
	color:#DC143C;
}
hr {
	color:black;
	background-color:black;
	height:3px;
}
li {
	font-size:150%;
}
a:hover {
	color:#DC143C;
}
a {
	text-decoration:none;
	color:#0000CD;
}
.header {
	text-align:center;
}
#award {
	color:#DC143C;
}
input {
	width:20%;
	text-align:center;
}
#sidebar {
	text-decoration:none;
	color:black;
	font-size:400%;
	position:absolute;
	top:0;
	left:0;
	margin:0;
	font-family:font2;
}
#sidebar:hover {
	color:#DC143C;
}
@media only screen and (max-width: 600px) {
  #thejewhimself {
	width:calc(50vw);
  }
}