body, input, button {
	font-family:font2;
	margin: 0;
	padding: 0; 
	font-size:100%;
}
#bar {
	height:calc(5vh);
	width:calc(100vw);
	background-color:silver;
	margin:0;
	padding:0;
	text-align:center;
}
@font-face {
    font-family: Hansief;
    src: url("Hansief.otf") format("opentype");
}
@font-face {
    font-family: font2;
    src: url("font2.ttf") format("truetype");
}
#thejewhimself {
	width:calc(25vw);
	border: 2px solid black;
}
#mynamebitch {
	color:#DC143C;
}
hr {
	width:99%;
	color:black;
	background-color:black;
	height:2px;
}
li {
	font-size:150%;
}
a:hover {
	color:#DC143C;
}
a {
	text-decoration:none;
	color:#0000CD;
}
.header {
	text-align:center;
}
#award {
	color:#DC143C;
}
input {
	width:20%;
	text-align:center;
}
#sidebar {
	text-decoration:none;
	float: right;
	position:absolute;
	color:black;
	font-size:1000%;
	right:25px;
	top:-0px;
	font-family:font2;
}
@media only screen and (max-width: 600px) {
	#sidebar{
		font-size:500%;
	}
	#thejewhimself {
		width:calc(60vw);
	}
	body {
		background-color:aqua;
	}
}
#sidebar:hover {
	color:#DC143C;
}