body {
    font-size:100%;
}
#heading {
    text-align: center;
    font-size:250%;
    font-family:font;
}
@font-face {
    font-family: 'font';
    src: url('LittleLordFontleroyNF.otf') format('opentype');
    src: url('LittleLordFontleroyNF.ttf') format('truetype');
}
@font-face {
    font-family: 'font2';
    src: url('EduSABeginner-VariableFont_wght.ttf') format('truetype');
}
#listing {
    text-align: center;
    background-color:#B3B3B3;
    border-radius: 25px;
    transition: 0.4s;
    font-size:150%;
    padding-bottom:20px;
    padding-top:20px;
}
#listing:hover {
    background-color:#808080;
}
#listing:hover img {
    transform:scale(1.1);
}
.row {
    display:flex;
    align-items: center;
    justify-content: center;
    font-family:font2;
}
#spacing-div {
    width:55px;
}
#vertical-spacing {
    height:55px;
}
img {
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    width:calc(20vw);
}
a {
    text-decoration: none;
    color: black;
}
#profile {
    justify-content: center;
    text-align:center;
    font-family:font2;
}
#desc {
    width:calc(25vw);
}
a:hover {
	color:black;
}