@viewport {
    width: device-width;
    zoom:1;
 }
 @media only screen and (max-width: 768px) {
     img {
         height:1000px;
     }
 }
@font-face {
    font-family: 'font';
    src: url('font.ttf') format('truetype')
}

body {
    text-align: center;
    font-family: font;
}

input {
    text-align: center;
    height: 50px;
    width: 40px;
    font-size: 200%;
    margin-right: 5px;
    caret-color: transparent;
    font-family: font;
    text-transform: lowercase;
}

p {
    margin: 5px;
}

h1 {
    margin: 0px;
}