@viewport {
    width: device-width;
    zoom:1;
 }
@font-face {
    font-family: 'font';
    src: url('font.ttf') format('truetype')
}

body {
    text-align: center;
    font-family: font;
}

input {
    text-align: center;
    height: 60px;
    width: 60px;
    font-size: 300%;
    caret-color: transparent;
    font-family: font;
    text-transform: lowercase;
    margin-right: 10px;
}

p {
    margin: 10px;
}

h1 {
    margin: 0px;
}
button {
    font-size: 150%;
    font-family: font;
    background-color:#1982FC;
    border-radius: 24px;
    padding:8px;
}