@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body, input, button {
	font-family: 'Merriweather', serif;
	margin: 0;
	padding: 0; 
	font-size:100%;
}
a:hover {
	color:#DC143C;
}
a {
	text-decoration:none;
	color:#0000CD;
}
#sidebar {
	text-decoration:none;
	float: right;
	position:absolute;
	color:black;
	font-size:500%;
	right:25px;
	top:-0px;
	font-family: 'Merriweather', serif;;
}
#sidebar:hover {
	color:#DC143C;
}
